* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'montserrat', sans-serif;
	background-color: #000;
}

header {
	padding: 50px 15px 0px;
}

header h1, h1 {
	color: #FFF;
	font-size: 48px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-weight: 500;
	text-align: center;
}

main {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
}

section {
	padding: 15px;
}

.hero {
	align-self: center;
	text-align: center;
}

#GNI {
	max-width: 100%;
	background-image: 
              linear-gradient(45deg, rgba(
                145, 146, 122, 0.62), rgba(
                  217, 91, 132, 0.58));
}

.searchbox {
	display: block;
	width: 100%;
	padding: 15px;
	border: none;
	outline: none;
	background: none;
	background-color: #EEE;
	border-radius: 8px;
	color: #000;
	font-size: 20px;
	font-weight: 300;
	transition: 0.4s ease-out;
	justify-content: center;
}

.searchbox:focus {
	box-shadow: 0px 0px 10px 8px rgb(238, 183, 225);
}

.results {
	display: flex;
	flex-wrap: wrap;
	margin: 0px -15px;
}

.results .result {
	width: 33.333%;
	min-width: 250px;
	padding: 15px;
	display: flex;
	flex-direction: column;
	cursor: pointer;
}

.results .result img {
	display: block;
	width: 100%;

}

.result:hover {
	transform: scale(1.1);
	transition: all 0.4s;
}

.results .result h3 {
	color: #FFF;
	text-align: center;
	font-size: 20px;
	font-weight: 600;
	padding: 10px;
	background: #000;
	flex: 1 1 100%;
	transition: 0.4s ease-out;
	border-radius: 2px;
}

.popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: #000;
	overflow-y: scroll;
}

.popup .content {
	display: block;
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	padding: 25px;
	color: #FFF;
}

.popup .content h2 {
	font-size: 28px;
	font-weight: 600;
}
.popup .content h2 span {
	font-weight: 300;
	font-size: 20px;
}

.popup .content .rating {
	margin-bottom: 30px;
}

.popup .content .plot {
	display: flex;
	flex-wrap: wrap;
	margin: 0px -15px 30px;
}

.popup .content .plot img {
	flex: 1 1 50%;
	max-width: 300px;
	padding: 0px 15px;
}

.popup .content .plot p {
	flex: 1 1 50%;
	padding: 15px;
}

.close {
	display: inline-block;
	padding: 10px 20px;
	font-size: 18px;
	font-weight: 400;
	background: palevioletred;
	color: #FFF;
	border-radius: 8px;
	border: none;
	outline: none;
	appearance: none;
	cursor: pointer;
	transition: 0.4s ease-out;
}

.popup .content .close:hover {
	background: pink;
}

@media only screen and (max-width: 500px) {
	section.results {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

@media only screen and (max-width: 750px) {
	section.results {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}